<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
<!-- 
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/tomcat7/logs/SmartCampus.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/usr/local/tomcat7/logs/SmartCampus/SmartCampus.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>

       <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <MaxFileSize>10MB</MaxFileSize>
       </triggeringPolicy>
	</appender>
 -->
	<!-- project default level DEBUG-->
	<logger name="com.twi" level="DEBUG" />

	<!--log4jdbc -->
<!-- 
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="INFO" />  
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="INFO" />	 
    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate.type" level="INFO" />
    <logger name="org.hibernate.engine.QueryParameters" level="INFO" />  
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="INFO" />      
 -->
	<root level="WARN">
		<appender-ref ref="console" />
<!-- 		<appender-ref ref="rollingFile" /> -->
	</root>
	
</configuration>